/* IMPORTS. */

/*
IMPORTS - FONTS.
*/

/*
Google Fonts:
- 'Krona One':
    - URL:          'https://fonts.google.com/specimen/Krona+One'.
    - Specs:        Weight: regular 400.
- 'Montserrat':
    - URL:          'https://fonts.google.com/specimen/Montserrat'.
    - Specs:        Weight: regular 400. Italic: Roman-only (no italic included).
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/*
VARIABLES DECLARATION.
- variable's name MUST BEGIN with 2 dashes (--), and it's CASE SENSITIVE.
- Scopes:
    - Global scope: declare within ':root' selector.
    - Local scope: declare variable within specific selector, not in ':root'.
- Ref.: 'https://www.w3schools.com/css/css3_variables.asp'.
*/
:root {
    --font_size_default: 16px;                          /* Default web-browsers font-size: 'https://stackoverflow.com/questions/29511983/is-the-default-font-size-of-every-browser-16px-why/29512572#29512572'. */
    --colors_logo: #FF4800;
    --colors_background: #0D1117;
    --colors_01: #F6F6F6;
    --colors_02: #B2B2B2;
    --colors_03: #D5168A;
    --colors_04: #501555;
    --colors_05: #1F143F;
    --colors_06: #1F2428;
    --colors_07: #000000;
    --fonts_fallback: system-ui, sans-serif;            /* Hierarchical list of fonts; from preferred, to fallback: 'https://www.w3schools.com/cssref/pr_font_font-family.php', 'https://developer.mozilla.org/en-US/docs/Web/CSS/font-family', 'https://www.w3schools.com/css/css_font_websafe.asp'. */
    --fonts_main: "Montserrat", var(--fonts_fallback);
    --fonts_minor: "Krona One", var(--fonts_fallback);
}

/* Universal changes for all tags / elements / classes. */
* {
    /*
    Set proper dimensions for full page size: 'https://www.freecodecamp.org/news/html-page-width-height/'.
    - IMPORTANT: when adjusting spacing of specific classes, try 1st adjusting 'margin', then 'padding' as LAST RESOURCE. Evaluate in a per case basis, using helper of 'background-color: <contrasting_color>'.
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;                             /* Set appropiate box-sizing: 'https://www.w3schools.com/css/css3_box-sizing.asp'. */
}

/* DEFAULT HTML TAGS. */

html {
    font-size: var(--font_size_default);                /* Recommended, explicit declaration: 'https://stackoverflow.com/questions/29511983/is-the-default-font-size-of-every-browser-16px-why/29512572#29512572'. */
    font-family: var(--fonts_main);
}

body {
    background-color: var(--colors_background);
    color: var(--colors_01);

    /* Make 'footer' stay at the bottom, by expanding 'main': 'https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b/20352949#20352949'. */
    display: flex;
    flex-direction: column;
    min-height: 100vh;                                  /* Change height display to MINIMUM 100% of VISIBLE screen. */
}

main {
    /* Make 'footer' stay at the bottom, by expanding 'main': 'https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b/20352949#20352949'. */
    flex-grow: 1;
}

h3 {
    font-family: var(--fonts_minor);
}

ul {
    padding: 10px 0px 0px 20px !important;              /* IMPORTANT: lists REQUIRE PADDING; therefore, need manual adjustment, if padding set GLOBALLY to 0; i.e. '* { padding: 0; }'. Ref.: 'https://stackoverflow.com/questions/72279264/unordered-list-not-showing-bullets/72281511#72281511', 'https://www.w3schools.com/css/css_important.asp'.*/
}

/* Use of 'media queries' to define layouts according to specific screen resolutions: 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries#targeting_media_features'. */
@media (width > 0px) {                                  /* Base design, as starting point: e.g. for desktop, although recommended to start with mobile, 1st: 'https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile/20350990#20350990'. */
    
    /* CUSTOM CLASSES. */

    /* HEADER: navigation pane. */

    .header {
        /* Create a sticky header: 'https://www.w3schools.com/howto/howto_js_sticky_header.asp'. */
        position: sticky;
        top: 0;

        background-color: var(--colors_07);
        padding: 12px;
    }

    .header-nav {
        display: flex;                                  /* Display as flexbox: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-display'. */
        gap: 16px;                                      /* Separates flexbox items: logo-pages block, from navigation tools. Ref.: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-gap-row-gap-column-gap'.*/
        justify-content: space-between;                 /* Sends left (and right; only 2) flex-items to opposites. Ref.: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-justify-content'.*/
        align-items: center;                            /* Aligns vertically, to center the logo-pages block with navigation tools. */
    }

    /* HEADER: left-side web-page links. */

    .header-nav-container_left {
        display: flex;
        gap: 32px;                                      /* Separates pages block from logo. */
        align-items: center;                            /* Aligns vertically, to center the logo with pages block. */
    }

    .header-nav-container_left-hyperlink_logo {
        color: var(--colors_logo);
        text-decoration-line: none;                     /* To eliminate underscore format of hyperlinks. */
        font-size: 1.2em;
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        margin-left: 20px;                              /* Left margin ONLY ('https://www.w3schools.com/css/css_padding.asp'): 20px = 32px (right separation of logo from links block) - 12px (header padding). TODO: automate. */
    }

    /* NOTE: html element might be commented out, if logo is pure text. */
    .header-nav-container_left-hyperlink_logo-img_logo {
        height: 28px;                                   /* Set proper height for logo. TODO: validate height. */
    }

    .header-nav-container_left-container_links {
        display: flex;
        gap: 16px;                                      /* Separates each page. */
        align-items: flex-start;                        /* Send links text to TOP: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-align-items'. */
    }

    .header-nav-container_left-container_links-link {
        color: var(--colors_03);
        text-decoration-line: none;                     /* To eliminate underscore format of hyperlinks. */
        font-size: 1.2em;
    }

    /* HEADER: right-side navigation tools. */

    .header-nav-container_links {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }

    .header-nav-container_links-link {
        text-decoration-line: none;
    }

    /* MAIN: content. */

    .main {
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        margin: 12px;                                   /* Same SPACING (margin or padding, depending on each case) as '.header'. */
    }

    .main-top {
        display: flex;
        gap: 16px;                                      /* Separates sections: 'Parameters' and 'Contacts'. Same SPACING as page links in header. */
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        margin-bottom: 16px;                            /* Separates top section from bottom; i.e. 'Parameters' and 'Contacts', from 'Console'. Same SPACING as page links in header. */
        flex-wrap: wrap;                                /* When shrinking, wrap onto multiple lines; e.g. column stack, instead of staying on 1 line: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-wrap'. */
    }

    /* MAIN: content (parameters). */

    .main-top-parameters {
        display: flex;
        flex-direction: column;
        gap: 16px;                                      /* Separates sections: parameters title, content and 'div' for button. Same SPACING as page links in header. */
    }

    /* .main-top-parameters-content { */
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
    /* } */

    .main-top-parameters-content-row {
        /* Create table-like row-column (nx2) layout with Flexbox: 'https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01'. */
        display: flex;
        flex-direction: row;                            /* Default: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-direction'. */
        flex-wrap: wrap;                                /* When shrinking, wrap onto multiple lines; e.g. column stack, instead of staying on 1 line: 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-wrap'. */
        width: 100%;                                    /* Width 100% of PARENT element; i.e. '.main-top-parameters-content'. */
    }

    .main-top-parameters-content-row-column {
        /* Create table-like row-column (nx2) layout with Flexbox: 'https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01'. */
        display: flex;
        flex-direction: column;
        flex: 1;                                        /* Sets x3 flex item properties: 'flex-grow: 1', 'flex-shrink: 1', 'flex-basis: 0%'. Ref. 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex'. Since all 'columns' (more like 'cells') will have 'flex-grow: 1', they will expand EQUALLY proportionally; i.e. 50% if 2 columns, 33% if 3, etc. */

        margin-bottom: 8px;                             /* Separate 'cells'. Half SPACING as page links in header.*/
    }

    /*
    By following structure of table-like row-column (nx2) layout with Flexbox, columns width is determined by 1st column with items with a FIXED width;
    e.g. input boxes have a default width, which will represent the 50% of the columns width distribution (i.e. 'flex-grow: 1' in PARENT element), and consequently the other 50% (labels) will have same width.
    - To adjust widths, PLAY / TRIAL and ERROR, with 'width' property in both columns. NOTE: 'margin' and 'padding' properties seem to NOT affect width 'propagation' in other columns.
    */
    .main-top-parameters-content-row-column_labels {
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        min-width: 209px;                               /* Min. width for LONGEST text (i.e. 'New Contact's Last Name:') to be in 1 LINE. DO NOT CONSIDER SPACING (margin or padding). */
        margin-right: 40px;                             /* Appropiate right-SPACING (margin or padding), to separate LONGEST label, from input box. */
    }

    .main-top-parameters-content-row-column_inputs {
        min-width: 272px;                               /* Appropiate width for reading LONGEST input placeholder (i.e. 'New contact's last name here...'). */
    }

    input {
        font-family: var(--fonts_main);
        font-size: 1rem;
    }

    .main-top-parameters-content-row-column_last {
        margin-bottom: 0px;                             /* Adjusts last 'cell' SPACING (from 'margin-bottom: 8px;', of '.main-top-parameters-content-row-column'), since upper-parent '.main-top-parameters', already has it; e.g. 'gap: 16px'. */
    }
    
    .main-top-parameters-container_button {
        /*
        Center a 'div': 'https://www.aluracursos.com/blog/centrar-un-elemento-con-css'.
        - NOTE: since PARENT container is using Flexbox, there is no need to set a 'fixed' size, as stated in article.
        */
        margin-left: auto;
        margin-right: auto;
    }

    .main-top-parameters-container_button-button_create {
        font-family: var(--fonts_minor);
        font-size: 1rem;
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        padding: 6px 32px 6px 32px;                     /* SPACING (margin or padding, depending on each case) adjusted for button display. Padding: [top], [right], [bottom], [left]. Ref.: 'https://www.w3schools.com/css/css_padding.asp'. */
        background-color: var(--colors_04);
        color: var(--colors_01);
    }

    /* MAIN: content (contacts). */

    .main-top-contacts {
        display: flex;
        flex-direction: column;
        gap: 16px;                                      /* Separates sections: contacts title and 'div' for contacts listing. Same SPACING as page links in header. */
        flex-grow: 1;                                   /* Flexbox item to grow; elements of contacts section, expand to 'right': 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-grow'. */
    }

    .main-top-contacts-output {
        color: var(--colors_02);
        font-size: 0.8em;                               /* TODO: em vs rem. */
        background-color: var(--colors_06);
        padding: 8px;                                   /* TODO: transform px to relative units to font-size. */
        flex-grow: 1;                                   /* Flexbox item to grow; contacts listing, expand to 'bottom': 'https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-grow'. */
    }

    /* MAIN: content (console). */

    .main-bottom {
        /*background-color: #501555;*/                    /* FOR TESTING SPACING. */
        margin-bottom: 4px;                             /* Separates bottom section from everything AFTER; footer in this case. Since it's LAST SECTION, to match same SPACING as page links in header (i.e. 16px), consider margin ALREADY added by 'main' (i.e. 12px). Therefore, missing space to fill = 16px - 12px = 4px. */
    }
    
    .main-bottom-console {
        display: flex;
        flex-direction: column;
        gap: 16px;                                      /* Separates sections: console title and 'div' for console log. Same SPACING as page links in header. */
    }

    #pyscript_output_console_log {
        background-color: var(--colors_06);
        padding: 8px;                                   /* TODO: transform px to relative units to font-size. */
    }

    /* FOOTER: credits. */

    .footer {
        background-color: var(--colors_04);
        padding: 12px;                                  /* Same SPACING (margin or padding, depending on each case) as '.header'. */
        text-align: center;
    }

}